body {
    font-family: Arial, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px 30px;
}

.header {
    /*padding: 50px;*/
    border-bottom: 2px solid black;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
}
.logo h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.logo h1 span {
    font-weight: normal;
    display: block;
}

.data p{
    display: inline-block;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 15px 20px;
    white-space: nowrap;
}

.menu ul li a:hover{
    background: grey;
}

.burger-menu {
    display: none;
}
.burger-menu span {
    display: block;
    width: 20px;
    height: 5px;
    background: black;
    margin-bottom: 5px;
}

.photo {
    width: 400px;
    height: 500px;
    overflow: hidden;
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}
.about-me p {
    text-align: justify;
}
img {
    width: 100%;
    height: auto;
}

.footer {
    text-align: center;
    border-top: 2px solid black;
    padding: 20px 30px;
}

.active-page {
    background: grey;
}

@media only screen and ( max-width: 860px ) {
    .menu ul {
        display: none;
    }
    .burger-menu {
        display: block;
    }
}

@media only screen and ( max-width: 430px ) {
    .logo h1 {
        font-size: 24px;
    }
}

.box {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;

}
.white-box {
    background-color: grey;
    width: 800px;
    height: 800px;
    position: relative;
}
.red-box {
    width: 450px;
    height: 450px;
    background-color: red;
    position: absolute;
    top: 55px;
    left: 115px;
}
.green-box {
    width: 450px;
    height: 450px;
    background-color: green;
    position: absolute;
    top: 100px;
    right: 95px;
}
.blue-box {
    width: 450px;
    height: 450px;
    background-color: blue;
    position: absolute;
    bottom: 90px;
    left: 65px;
}
.yellow-box {
    width: 450px;
    height: 450px;
    background-color: yellow;
    position: absolute;
    bottom: 35px;
    right: 35px;
}
.green-box:hover {
    z-index: 1;
    box-shadow: 10px 10px 10px #262626;
}
.red-box:hover {
    z-index: 1;
    box-shadow: 10px 10px 10px #262626;
}
.blue-box:hover {
    z-index: 1;
    box-shadow: 10px 10px 10px #262626;
}
.yellow-box:hover {
    z-index: 1;
    box-shadow: 10px 10px 10px #262626;
}
.kolo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #989898;
    position: absolute;
    bottom: 35px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-box span {
    position: absolute;
    display: block;
    height: 65px;
    width: 6px;
    background-color: #000;
    transform: rotate(45deg);
    transition: .5s;
}
.white-box span:last-child {
    transform: rotate(-45deg) ;
}
