ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
/** {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    /*position: relative;*/
    padding: 0 30px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}
a {
    text-decoration: none;
}
.cf::after {
    content: '';
    display: block;
    clear: both;
}
.top-header {
    background-color: #0054a4;
}
.header-social-icons li {
    display: inline-block;
    padding: 5px;
}
.header-social-icons i {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
}

.logo-top {
    position: absolute;
    z-index: 122;
}
.wrapper {
    font-family: "Open Sans", sans-serif ;
    font-weight: 100;
    font-size: 15px;
    height: 40px;
}
.header-social-icons {
    float: right;
}
.header-bottom li {
    display: inline-block;
    padding: 10px 5px;
    margin: 20px 0;
    font-size: 15px;
}
.donate-buttom {
    border-radius: 23px;
    color: white;
    margin: 20px 0;
    background-color: #d94948;

}
.main-menu {
    display: flex;
    justify-content: flex-end;
}
.main-menu li:hover {
    cursor: pointer;
    border: 1px solid #0054a4;
    background-color: #eeeeee;
    border-radius: 20px;
}
.main-menu li {
    border: 1px solid transparent;
}
.main-menu a {
    color: grey;
}
.main-menu li:hover a{
    color: #0054a4;
}

.header-social-icons i:hover {
    opacity: .5;
    transition: .3s;
}

nav button .donate-buttom {
    background-color: red;
    color: white;
    border-radius: 23px;
    margin: 20px 0;

}
.main-content h1 {
    font: 60px "Lobster";
    color: #0054a4;
    padding: 40px 10px;
    /*margin: 40px;*/
}
.main-content p {
    font-family: "Open Sans", sans-serif;
    color: black;
    padding: 0 10px;
    font-size: 19px;
    margin: 0 0 40px 0;
}
.photo-main {
    width: 438px;
    position: relative;
    top: 40px;

}
.button-main {
    width: 162px;
    height: 46px;
    border-radius: 23px;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: white;
    border: 0;
}
.pink {
    background-color: #f15b4f;
    /*color: white;*/
}
.blue {
    background-color: #0054a4;
    /*color: white;*/
}
.photo-girl {
    background: url("main-img.jpg") no-repeat center;
    background-size: cover;
    height: 650px;

}
h3, h2  {
    font-family: "Lobster", sans-serif;
    font-size: 30px;
}
p {
    font-family: "Open Sans", sans-serif;
}
.tabs {
    width: 376px;
    height: 164px;
    border-radius: 30px;
    text-align: center;
}
.tabs-active:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
    opacity: 0.85;
}
.content-category {
    display: flex;
    justify-content: space-between;
    /*position: relative;*/
    top: 30px;
}
.blue-content {
    background-color: #0054a4;
    color: white;
}
.pink-content {
    background-color: #f15b4f;
    color: white;
}
.green-content {
    background-color: #6fbd2a;
    color: white;

}
.abaut-jen {
    text-align: center;
    margin: 15px 0 40px 0;
}

.abaut-jen p {
    color: gray;
}
section p {
    font-family: "Lobster", sans-serif;
    color: #a8a8a8;
    font-size: 22px;
}
section h2 {
    font-family: "Lobster", sans-serif;
    color: #0054a4;
    font-size: 40px;
}

.all-image {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.item {
    text-align: center;
    cursor: pointer;
}
.ttablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tablet {
    width: 376px;
    height: 164px;
    margin-top: -80px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.green-tabs {
    background-color: #6fbd2a;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.pink-tabs {
    background-color: #f15b4f;
    border-radius: 30px;
    padding: 25px;
    box-sizing: border-box;
}
.bl-tabs {
    background-color: #0054a4;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
}
.tabs-icon {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.line-tabs {
    width: 94px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
    margin: 10px 0;
}
.tabs-font-tp {
    font-family: "Lobster", sans-serif;
    font-size: 26px;
    color: #ffffff;
    justify-content: space-between;
    display: flex;
}

.tabs-font-bt {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.tabs-link {
    display: flex;
    flex-direction: row-reverse;
    color: white;
}

body {
    margin: 0;
}
section h2 {
    margin-top: -30px;
}
.all-image {
    display: flex;
    justify-content: space-between;
}
.heart, .people, .star {
    background-color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 0 7px rgba(0, 0, 0, 0.23);

}
.heart {
    color: #6fbd2a;
}
.people {
    color: #f15b4f;
}
.star {
    color: #0054a4;
}
.header-calendar {
    padding: 70px 0;
    text-align: center;
    align-self: center;
    margin-bottom: 70px;
}
.calendar {
    background-color: #f1f1f1;
}
.header-calendar h2 {
    font-size: 40px;
}
.header-calendar p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: grey;
    margin: 10px 0;
}

.btn-see-all p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: black;
    padding-bottom: 8px;
    border-bottom: 2px solid #0054a4;
    box-sizing: border-box;
    float: right;
    margin: 0;
}
.btn-see-all p:hover {
    color: #0054a4;
}
.calendar-items {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.cld-items {
    position: relative;
    top: -65px;
    width: 362px;
    height: 584px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.img-lg {
    margin-top: -90px;
}
.text-description {
    padding: 0 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #a8a8a8;

}
.text-calendar {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Lobster", sans-serif;
    color: #747474;
}
.data-calendar {
    color: #747474;
    font-family: "Open Sans", sans-serif;
}
.data-calendar span {
    color: #0054a4;
}
.cld-items:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
}
.header-video {
    text-align: center;
    align-self: center;
}
.header-video h2 {
    font-size: 40px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    margin: 110px 0 0 0;
}
.clip p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: black;
    font-size: 16px;
}
iframe {
    margin: 0;
    padding: 0;
}
.recent-news {
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px 0;
}
.news {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 40px;
}
.block__news {
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    height: 440px;
}
.block__news__text p {
    font-size: 24px;
    line-height: 1.2;
    font-family: "Lobster", sans-serif;
    color: #747474;
    box-sizing: border-box;
    padding-left: 40px;
}
.block__news__text {
    display: flex;
    justify-content: flex-start;
}
.block__news__buttom {
    display: flex;
    margin-left: 40px;
    width: 116px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
}
.block__news__buttom:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
}
.block__news:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
}

.volunteer-section {
    background-image: url("http://www.jenniferwilks.org/img/volunteer.jpg");
    background-size: cover;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__volunteer {
    width: 421px;
    height: 400px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.block__volunteer h2 {
    font-size: 60px;
    margin: 0;
}
.block__volunteer h3 {
    font-size: 32px;
    margin: 30px;
}
.block__volunteer p {
    font-size: 18px;
    color: grey;
}
.block__volunteer__bottom {
    border: 1px solid #0054a4;
    width: 195px;
    height: 51px;
    border-radius: 26px;
    display: flex;
    margin-top: 30px;
    color: #0054a4;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans",sans-serif;
}
.block__volunteer__bottom:hover  {
    background-color: #0054a4;
    color: white;
}

.block__volunteer__bottom p:hover  {
    color: white;
}


.slick-initialized .slick-slide.sl_slide {
    display: flex;
    justify-content: center;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}

button.slick-prev:before,
button.slick-next:before {
    color: #000000;
}

button.slick-next {
    right: 25px;
}

button.slick-prev {
    left: 25px;
}

.containr {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer {
    background: url("http://www.jenniferwilks.org/img/footer-bg.jpg");
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.footer-copiright {
    text-align: center;
    padding: 10px 0;
    background: #003b7b;
    color: rgba(255, 255, 255, 0.5);
}

.footer-logo {
    padding: 70px 0;
}
.footer-social {
    color: #ffffff;
    margin: 30px;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.footer-social i {
    padding: 10px;
}
.footer-social i:hover {
    opacity: .5;
    transition: .3s;
}
.container-footer {
    display: flex;
}
.site-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 70px 20px;
    margin-left: 20px;
}
.site-link li a {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px 0;
    font-size: 14px;
}
.site-link ul li a:hover {
    color: white;
}
.site-link p {
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 22px;
    line-height: 26px;

}
.separator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0 40px 0;
}
.thick {
    background-color: #659a37;
    width: 54px;
    height: 5px;
}
.thin {
    width: 79px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}
.adress-icon {
    color: #fff;
    margin-right: 15px;
    margin-top: 10px;
}
.adress-text p {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 0;
}
.adress {
    display: flex;
}
.phone {
    display: flex;
    margin-top: 20px;
}
.phone-text p {
    font-family: "Open Sans", sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin: 5px 0;

}

.adress-text {
    display: flex;
    flex-direction: column;
}

.footer-botton {
    width: 219px;
    height: 41px;
    line-height: 39px;

}
.footer-botton p {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 8px;
}
.footer-botton:hover {
    cursor: pointer;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.43);
    transition: all .2s;
}
.burger-menu {
    display: none;
}

@media only screen and (max-width:1100px) {
    .main-menu ul {
        display: none;
    }
    .burger-menu  {
        display: flex;
    }
    .burger-menu-list {
        display: flex;
        flex-direction: column;
    }
    .ttablet {
        flex-direction: column;
        margin-top: 90px;
    }
    .all-image {
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .calendar-items {
        flex-direction: column;
        align-items: center;
    }
    .img-video {
        flex-direction: column;
        align-items: center;
    }
    .news {
        flex-direction: column;
        align-items: center;
    }
    .block__news {
        margin-bottom: 20px;
    }
    .partnerts-block {
        flex-direction: column;
        align-items: center;
    }
}
